# Sharp是註解的意思
# 這個檔案規範了不被git檔管的項目，亦稱git忽略清單
# 每一行代表一個忽略項目，例如：「*.txt」表示忽略一切txt檔案
# 然而，此規範是有生效日期及限制：
#	(1)當.gitignore檔案被add至Staged file才會開始生效，但只適用於Untracked file(git status 紅色狀態)
#	(2)如果開發到一半，你才加入 .gitignore 了話，之前被加入 Git 版控的檔案將不會被排除，
#	   這些已經加入的檔案將持續被 Git 追蹤。此時可以用這個語法，用以清除欲忽略的tracked Files：
#		git rm -r --cached .
#		git add .
#		git commit -m 'update .gitignore'
#		(git rm -r --cached . 中的 -r 代表遞迴 (Recursive)，用來遞迴搜尋每個資料夾下的檔案。)
#--以下為本專案的忽略清單--#
dashboard/
gittest/
img/
webalizer/
xampp/
