.CC1{
    position: relative;

    max-width: 800px;
    min-width:601px;
    /* width: 100%; */

    border: 1px solid red;
}

.CC2{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr); 
    grid-gap:0;
}

.box_picture{
    /* max-width: 100%; */
    width: 100%;
    height: auto;
}

.box_parts {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: 1px solid white;
    color: white;
}

.box_parts:hover{
    background:rgba(0,255,0,50%);
}
