/*首頁選區*/
.picture_frame{
    width: inherit;
    height: inherit;
}

.Bob{
    position: relative;
}

.Alice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    min-height: 100%;
    z-index: 2;
}

.Bob:hover .box_picture {
    opacity: 0.8;
  }
  

#id_container_picture{
    background-color: black;
}

  /*layer是指圖層，下層是底圖(picture)，上層是點選區塊(parts)*/
.layer_picture{
    z-index: 1;
}

.layer_parts{
    z-index: 3;
}

/*Grid排版容器*/
.container {
    max-width: 800px;
    width: 100%;控制grid Frame寬度
    min-width:601px;
    margin:0 0;auto會使頁寬大於content時，多的部分歸至margin
    border: 1px solid blue;
}
    /*GRID目前的狀況：格子的實體是包在內容的多個div(grid box)，目前boxes無法正確顯示在frame當中，
    所以改用區塊重疊的方式強制將其覆蓋到父區塊上，也就是Alice類別，當中使用了Abslute跟index-z這會造成觸發時可能跑版
    要設法指套用一次grid*/
    /*設定grid網格行列數*/
    .grid {
        display: grid;
        grid-template-rows: repeat(4, 1fr);/*fr means 'fraction'*/
        grid-template-columns: repeat(4, 1fr); 
        grid-gap:0;
        grid-template-areas:
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
    }

    /*--------以下為grid網格內的區塊顯示---------*/
    .grid>.box_picture{
        grid-area: c;
        max-width: 100%;
        width: 100%;
        height: auto;
        backface-visibility: hidden;
    }
    
    .grid>.box_parts {
        /*父層grid二維排版；子層文字用Flexbox一維排版*/
        border: 1px solid white;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .box_parts:hover{
        background:rgba(0,255,0,50%);
    }

.HIDE{
    display: none;
}

/*手機板RWD設定：可以設定畫面<=600px 背景圖片換成小解析度*/
@media only screen and (max-width: 600px) {
    /*body {
        justify-content: start;
    }*/
    .container {
        /*!!!考慮到圖片、按鈕是否會太小*/
        min-width: 200px;
    }
}
@media only screen and (max-width: 400px) {
    .grid>.box_parts {
        font-size: 20px;
    }
}
@media only screen and (max-width: 300px) {
    .grid>.box_parts {
        font-size: 15px;
    }
}